<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title th:text="${editing} ? 'Edit Task' : 'New Task'"></title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-header">
                    <h4 th:text="${editing} ? 'Edit Task' : 'New Task'"></h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/saveTask}" th:object="${task}" method="post">
                        <div class="form-group" th:if="${editing}">
                            <input th:field="*{id}" type="number" name="id" class="form-control" placeholder="id" readonly>
                        </div>
                        <div class="form-group">
                            <input th:field="*{responsable}" type="text" name="responsable" class="form-control" placeholder="Responsable">
                        </div>
                        <div class="form-group">
                            <input th:field="*{description}" type="text" name="description" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" th:if="${!reading}">Add Task</button>
                            <a href="index.html" th:href="@{/}">Return to home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>