<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Tasks</title>
</head>

<body>
    <div class="container mt-4">
        <a th:href="@{/newTask}" class="btn btn-success">New Task</a>
        <table class="table table-hover mt-2">
            <tr>
                <td>ID</td>
                <td>Responsable</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.responsable}"></td>
                <td th:text="${task.description}"></td>
                <td>
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>